* {
	box-sizing: border-box;
}

.loginbg {
	/* font-family: Verdana, sans-serif; */
	background-image: url('./img/research-publication.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}

.margin_top_30 {
	margin-top: 30px;
}

.font_family_poppins {
	font-family: Poppins-Regular, sans-serif
}

.padding_bottom_20 {
	padding-bottom: 20px;
}

* {
	margin: 0px;
	box-sizing: border-box;
}

a.alink {
	font-family: Poppins-Regular, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	text-decoration: none;
}


a:hover {
	text-decoration: none;
	color: black;
}

input {
	outline: none;
	border: none;
}


button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.txt1 {
	font-family: Poppins-Regular, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
}

.txt2 {
	font-family: Poppins-Regular, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	text-transform: uppercase;
}

.container-login {
	margin-top: 20px;
	min-height: 70vh;
	width: 40%;
}

.wrap-login100 {
	background: #fff;
	border-radius: 10px;
	overflow: visible;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 20px;

}


.logintitle {
	display: block;
	font-family: Poppins-Bold, sans-serif;
	font-size: 39px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
}

.inputbox {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #d9d9d9;
}

.inputlabel {
	font-family: Poppins-Regular, sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 1.5;
	padding-left: 7px;
}

.inputarea {
	font-family: Poppins-Regular, sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 1.2;

	display: block;
	width: 100%;
	height: 55px;
	background: transparent;
	padding: 0 7px 0 43px;
}

.containerform {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.loginbtn:hover {
	background-color: black;

}

.loginbtn {
	background-color: gray;
	width: 30%;
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 15px;
	overflow: hidden;
	margin: 0 auto;
}

.loginbgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #a64bf4;
	top: 0;
	left: -100%;
	transition: all 0.4s;
}

.loginbtntxt {
	font-family: Poppins-Medium, sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
}







.txt1,
txt2 {
	text-align: center;
}

.text-right {
	text-align: right;
}




.flex-c-m {
	display: flex;
	justify-content: center;
	align-items: center;
}


.flex-col-c {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.icon {
	color: black;
	min-width: 50px;
	position: absolute;
	margin-top: 20px;
	margin-left: 18px;
}

.incon {
	width: 100%;
	margin-bottom: 0px;
}

.limiter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

* {
	box-sizing: border-box;
}

#fname,
#number,
#email,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.waitingpage {
	background-image: url("./img/cat.gif");
	background-size: cover;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center 35px;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: center;
	margin: 0;
	padding: 0;
}

.rejectedpage {
	background-image: url('./img/profile_rejected.png');
	background-size: cover;
	background-size: auto;
	background-repeat: no-repeat;
	background-position:center 35px;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: center;
	margin: 0;
	padding: 0;
  }

nav {
	background-color: #ffcc84;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

nav li {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	padding: 0 20px;
	color: black;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	background-color: #ffcc84;
	cursor: pointer;
	font-weight: 600;
}

.container {
	max-width: 1000px;
	margin-top: 100px;
	margin: 70px auto 0;
	padding: 50px 20px;
}

h1 {
	font-size: 36px;
	margin-top: 200px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	margin-bottom: 40px;
}